<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .auth-body {
            background-image: radial-gradient(circle at top, rgb(229 144 148), transparent, transparent 100%);;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 1;
            height: 100vh;
        }
    </style>
</head>
<body class="auth-body">
    <h1>Password Reset Complete</h1>
    <p>Your password has been successfully reset. You can now <a href="{% url 'account_login' %}">log in</a> with your new password.</p>
</body>
</html>