<!DOCTYPE html>
<html>
<head>
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .auth-body {
            background-image: radial-gradient(circle at top, rgb(229 144 148), transparent, transparent 100%);;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 1;
            height: 100vh;
        }
    </style>
</head>
<body class="auth-body">
    <h1>Set New Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
</body>
</html>