<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Sent</title>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .auth-body {
            background-image: radial-gradient(circle at top, rgb(229 144 148), transparent, transparent 100%);;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 1;
            height: 100vh;
        }
    </style>
</head>
<body class="auth-body">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="d-flex justify-center">
                        <img src="{% static 'img/CM-SME-CLub-Logo-2.png' %}" class="card-img-top mx-auto mt-5" style="width: 8rem;" alt="CM-SME-Club-Logo">
                    </div>
                    <div class="card-body">
                        <h3 class="text-center">Password Reset Sent</h3>
                        <p>We have sent you an email with instructions to reset your password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>